###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.txt text
*.md text
*.cpp text
*.h text